<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a2016_2.pooa.iff.br.myapplication">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="cadastro.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="a2016_2.pooa.iff.br.myapplication" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Cadastro_proprietario" />
        <activity
            android:name=".activity.LIsta_proprietario"
            android:label="@string/title_activity_lista_proprietario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Lista_Veiculo"
            android:label="@string/title_activity_lista__veiculo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>